@import "tailwindcss";

body {
  background-color: #000000;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111; /* very dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* dark thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
